<html>

<head>
    <title>CRUD App</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='people.png')}}">
</head>

<body>
    <div class="container">

        <div class="well text-center">
            <h1>Python Flask CRUD Web App</h1>
        </div>


        <div class="well text-center">
            <h3> https://icarpio.pb.online/game</h3>
        </div>
    </div>

</body>

</html>